@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

#welcome-section{
    
     background-image: url("../Images/sci-fi\ town.jpg");
     background-color: rgba(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.432), 25);
     background-blend-mode:multiply; 
    
     padding: 150px;
     margin-bottom: 30px; 

} 

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: #55d6aa;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* home section styling */

.home{
    display: flex;
    background: url("Images/sci-fi town.jpg")
    height: 100vh;
}